
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}



/* CONTENT */
.content {
  padding: 40px;
}

/* BUTTON */
button {
  padding: 10px 15px;
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
} 