body{
font-family:Arial;
background:#f4f6f9;
margin:0;
text-align:center;
}
h2{
background:#2c3e50;
color:white;
padding:15px;
}
.cards{
display:flex;
justify-content:center;
margin-top:20px;
}
.card{
background:white;
padding:20px;
margin:10px;
width:200px;
border-radius:6px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
table{
width:80%;
margin:auto;
border-collapse:collapse;
background:white;
}
th,td{
padding:10px;
border:1px solid #ddd;
}
th{
background:#34495e;
color:white;
}
.login-box{
margin-top:100px;
}
input{
padding:10px;
width:200px;
margin:10px;
}
button{
padding:10px 20px;
background:#27ae60;
color:white;
border:none;
}
